.App {
  text-align: center;
  color: white;
  font-family: monospace;
}

#mainBody {
  position: relative;
}

#login-container {
  background-color: rgba(0, 0, 0, 0.598);
  position: absolute;
  height: 400px;
  width: 400px;
  top: 230px;
  left: 38%;
  border-radius: 10px;

}

#log-in {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#log-in h3 {
  font-size: 3rem;
}

#log-in input {
  margin: 5px 10%;
  text-align: center;
}

#log-in button {
  height: 25px;
  width: 100px;
  background-color: #1FA9E0;
  border: none;
  border-radius: 10px;
  color: white
}

#logo {
  width: 300px;
  margin-top: 80px;
}

a {
  color: white;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}



