
.App {
  text-align: center;
  color: white;
  font-family: monospace;
}

#mainBody {
  position: relative;
}

#login-container {
  background-color: rgba(0, 0, 0, 0.598);
  position: absolute;
  height: 400px;
  width: 400px;
  top: 230px;
  left: 38%;
  border-radius: 10px;

}

#log-in {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#log-in h3 {
  font-size: 3rem;
}

#log-in input {
  margin: 5px 10%;
  text-align: center;
}

#log-in button {
  height: 25px;
  width: 100px;
  background-color: #1FA9E0;
  border: none;
  border-radius: 10px;
  color: white
}

#logo {
  width: 300px;
  margin-top: 80px;
}

body {
  background-color: black;
  /* color: white; */
}


h1{
  font-family:georgia,garamond,serif;
}

h2{
  font-family:georgia,garamond,serif;
  font-size: 20px;
}


h4{
  font-family:georgia,garamond,serif;
  font-size: 15px;
}


button {
  background-color: rgb(169, 169, 169);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


a:hover {
  cursor: pointer;
  text-decoration: underline;
}

button:hover {
  background-color: rgb(97, 97, 97);
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
