
.course{
    border: 1px solid white;
    border-radius: 20px;
    position: relative;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 8%;
    padding: 5%;
    width: 70%;
    height: 500px;
    background-color: white;
    opacity: 0.9;
}

#course-name{
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 50px;
}

.teacher{
    display: flex;
}

.teacher-image {
    max-height: 200px;
    height: auto;
    margin-left: 5%;
    margin-right: 20%;
    border: black solid 1px;
    border-radius: 3px;
}

.teacher-name{
    margin: 3px;
}


.description{
    width: 60%;
    margin-left: 5%;
}

.course-bottom{
    margin-left: 5%;

}
